/* Google font Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,700&family=PT+Serif:wght@700&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* ------------------------------------------- Variables --------------------------------------------*/
:root {
  /*-------- Background Colors ------*/
  --bg-black-color: 20, 20, 20;
  --bg-main-color: 233, 251, 250;
  --bg-green-color: 51, 128, 76;
  /*------------ Colors -----------*/
  --dark-gray-color: #4d4d4d;
  --gray-color: #cccccc;
  --lighter-gray-color: #f5f5f5;
  --white-color: #ffffff;

  --dark-green-color: #105653;
  --green-color: #146c67;
  --lighter-green-color: #24c2ba;
  /* --dark-green-color: #163721;
  --green-color: #33804c;
  --lighter-green-color: #92d3a8; */
  /* --------- Measurements --------*/
  --sidebar-width: 15rem;
  --sidebar-min-width: 3.75rem;
  --navbar-height: 3.75rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Serif', serif;
}

a {
  text-decoration: none;
}
.form-check-input:checked {
    background-color: var(--green-color);
    border-color: var(--green-color);
}
.form-check-label{
  color: var(--green-color);
}
/*-------------------------------- sidebar---------------------------------*/
.sidebar {
  background-color: var(--green-color);
  height: 100%;
  width: var(--sidebar-width);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  z-index: 2;
}

.sidebar.active {
  width: var(--sidebar-min-width);
}

.sidebar .logo-details {
  height: 12rem;
  flex-direction: column;
}

.sidebar.active .logo-details {
  height: 5rem;
  flex-direction: row;
}

.sidebar .logo-title {
  font-family: 'Pacifico', cursive;
  display: inline-flex;
}

.sidebar.active .logo-title {
  display: none;
}

.sidebar .sidebar-links li .nav-item {
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.sidebar .sidebar-links li a.active,
.sidebar .sidebar-links li a:hover {
  background: var(--dark-green-color);
  border-right: .5rem solid #07120b;
}

.sidebar .sidebar-links li i {
  min-width: var(--sidebar-min-width);
}

.sidebar .sidebar-links .log-out {
  width: 100%;
}

.sidebar-links .item-title {
  font-family: 'PT Serif', serif;
  letter-spacing: .09em;
}

@media (max-width: 575px) {
  .sidebar {
    width: var(--sidebar-min-width);
  }

  .sidebar .logo-details {
    height: 5rem;
    background-image: none;
  }

  .sidebar .logo-details .logo-img {
    display: block;
  }
}

/*-------------------------------- Main section---------------------------------*/
.main-section {
  background: rgb(var(--bg-main-color));
  min-height: 100vh;
  width: calc(100% - var(--sidebar-width));
  left: var(--sidebar-width);
  transition: all 0.5s ease;
  z-index: 1;
}

.main-section .sidebar-button {
  background-color: var(--green-color);
}

.main-section .sidebar-button {
  margin-left: -3.5rem;
  width: 6rem;
}

/* Navbar section */
.sidebar.active~.main-section,
.sidebar.active~.main-section nav {
  width: calc(100% - var(--navbar-height));
  left: var(--navbar-height);
}

.main-section nav {
  height: 5rem;
  background: var(--white-color);
  width: calc(100% - var(--sidebar-width));
  left: var(--sidebar-width);
  z-index: 100;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.main-section nav .profile-controller {
  min-width: 12rem;
}

nav .profile-controller .admin-icon,
nav .profile-controller .admin-name,
nav .profile-controller .arrow-down {
  color: var(--dark-green-color);
}

.main-section nav .profile-controller .member-img {
  background-color: var(--green-color);
  width: 3rem;
  height: 3rem;
}

.main-section .main-container {
  padding-top: 6.5rem;
}

@media (max-width: 700px) {
  .main-section nav .profile-controller {
    height: 3.125erm;
    min-width: 2.5rem;
  }
}

@media (max-width: 575px) {
  .main-section .sidebar-button {
    display: none;
  }

  .sidebar~.main-section,
  .sidebar~.main-section nav {
    width: calc(100% - var(--navbar-height));
    left: var(--navbar-height);
  }
}

/*-------------------------------- Dashboard section---------------------------------*/
.box-title {
  color: var(--dark-green-color);
}

/* Security System */
.table {
  border-collapse: separate;
  border-spacing: 0 .25rem;
}

.table thead tr {
  background-color: var(--dark-green-color);
  color: var(--white-color);
  text-align: center;
}

.table tbody tr td {
  padding: .125rem .5rem;
  text-align: center;
}

.table tbody tr i,
.history-icon {
  color: var(--dark-green-color);
}

.table tbody tr i:hover,
.history-icon:hover {
  color: var(--green-color);
  
}

.status .badge {
  width: 4.50rem;
  height: 2.125rem;
  line-height: 1.25rem;
  margin-top: .125rem;
}

/* Weather System */
.weather-container {
    height: 100%;
    background-image: url('../images/weather/morning.jpg');
    background-size: cover;
}

    .weather-container.night {
        background-image: url('../images/weather/night.jpg');
    }

.weather-container.night .box-title {
  color: var(--lighter-green-color);
}

.weather-container.night .history-icon,
.weather-container.night .box-title {
  color: var(--lighter-green-color);
}

.weather-container.night .date,
.weather-container.night .weather-content {
  color: var(--white-color) !important;
}

@media (min-width: 991px) {
  .weather-container {
    height: 14rem;
  }
}

@media (min-width: 1200px) {
  .weather-container {
    height: 17rem;
  }
}

/* At Home Now  */
.at-home-container {
  height: 100%;
}

.member-img {
  background-color: var(--green-color);
  width: 4rem;
  height: 4rem;
}

/* Main devices */
.devices-container {
  height: 100%;
}

.table>tbody>tr>td {
  vertical-align: middle;
}

/* --------------------------------------- Forms -------------------------------- */
/*  Sign In  */
.sign-section {
  background-color: #92D3A8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='452' height='226' viewBox='0 0 1600 800'%3E%3Cpath fill='%23D1ECDA' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5C1123.3 752.1 1107.5 739.5 1102.5 734.8zM1226.3 229.1c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c0 0 0 0 0 0-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9C1226.5 230.4 1226.6 229.6 1226.3 229.1zM33 770.3C33 770.3 33 770.3 33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3 0 0 .1 0 .1 0 7.3-.7 14.7-.9 22-.6.3 0 .7-.1.9-.3.2-.2.4-.6.4-.9C32.9 783.3 32.9 776.2 33 770.3z'/%3E%3Cpath fill='%23D1ECDA' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1C198.1 384.2 177.9 384 171.1 383.4zM596.4 711.8c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c0 0 0 0 0 0-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4C596.9 713.1 596.8 712.3 596.4 711.8zM727.5 179.9C727.5 179.9 727.5 179.9 727.5 179.9c.6.2 1.3-.2 1.4-.8 0-.1 0-.2 0-.4.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6 0 0 0 .1 0 .1-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5C714.8 176.9 721.7 178.5 727.5 179.9zM728.5 178.1c-.1-.1-.2-.2-.4-.2C728.3 177.9 728.4 178 728.5 178.1z'/%3E%3Cg fill-opacity='0.58' fill='%23FFF'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3.5 1.1 1 2.2 1.5 3.3 2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5C700.6 472.6 700.1 472.7 699.6 472.7zM740.4 421.4c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14C739.4 421.6 739.9 421.4 740.4 421.4zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4C257.6 586.9 259.6 588.8 261.3 590.9z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 0 0 0 0 0 0 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9.1.1.1.1.2.2 1.4 1.4 3.7 1.5 5.2.2C1510 301.2 1510.1 298.8 1508.7 297.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5 0-.7 0-1.5 0-2.3 0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1L327.6 248.6zM332.1 179.2c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3 0 .8 0 1.7 0 2.4-.2 6.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3l0 0C347 188.1 340 183 335 180.3 333.6 179.5 332.6 179.2 332.1 179.2zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C517.3 60.4 516.8 60.8 516.3 60.8zM506.1 70.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C506.4 70.5 506.2 70.5 506.1 70.5zM494.1 64.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C494.7 64.3 494.4 64.4 494.1 64.4zM500.5 55.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C500.9 55.3 500.7 55.3 500.5 55.3zM506.7 55c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C507.4 54.8 507.1 55 506.7 55zM1029.3 382.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C1030.3 382.4 1029.8 382.8 1029.3 382.8zM1019.1 392.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C1019.4 392.5 1019.2 392.5 1019.1 392.5zM1007.1 386.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C1007.7 386.3 1007.4 386.4 1007.1 386.4zM1013.5 377.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C1013.9 377.3 1013.7 377.3 1013.5 377.3zM1019.7 377c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C1020.4 376.8 1020.1 377 1019.7 377zM1329.7 573.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8 0 0 0 0 0 0-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1C1335.2 572.4 1332.6 573.4 1329.7 573.4zM1311 546.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3C1326.7 547.5 1317.7 545.6 1311 546.7z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  height: 100vh;
}

.sign-container {
  background: url("../img/background/signin.png");
  background-repeat: repeat;
  margin-top: 5rem;
}

.info {
  background: rgba(var(--bg-black-color), 0.5);
}

.signIn-Form {
  background: rgba(var(--bg-green-color), 0.5);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.input-field {
  border: none;
  border-bottom: 2px solid transparent;
  background: rgba(var(--bg-black-color), 0.5);
  outline: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.input-field:focus {
  box-shadow: 0px 0px 10px 4px rgba(var(--bg-green-color), 0.8);
  border-bottom: 2px solid #92d3a8;

}

.submit-btn {
  border: 2px solid #92d3a8;
  background: rgba(var(--bg-black-color), 0.5);
  padding: .5rem 15%;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.submit-btn:hover {
  background: rgba(var(--bg-black-color), 0.8);
  padding: .5rem 25%;
}

/* Create/Edit form */
.left-container {
  background-color: #146C67;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='356' height='178' viewBox='0 0 1600 800'%3E%3Cpath fill='%239CC1BF' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5C1123.3 752.1 1107.5 739.5 1102.5 734.8zM1226.3 229.1c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c0 0 0 0 0 0-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9C1226.5 230.4 1226.6 229.6 1226.3 229.1zM33 770.3C33 770.3 33 770.3 33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3 0 0 .1 0 .1 0 7.3-.7 14.7-.9 22-.6.3 0 .7-.1.9-.3.2-.2.4-.6.4-.9C32.9 783.3 32.9 776.2 33 770.3z'/%3E%3Cpath fill='%239CC1BF' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1C198.1 384.2 177.9 384 171.1 383.4zM596.4 711.8c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c0 0 0 0 0 0-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4C596.9 713.1 596.8 712.3 596.4 711.8zM727.5 179.9C727.5 179.9 727.5 179.9 727.5 179.9c.6.2 1.3-.2 1.4-.8 0-.1 0-.2 0-.4.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6 0 0 0 .1 0 .1-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5C714.8 176.9 721.7 178.5 727.5 179.9zM728.5 178.1c-.1-.1-.2-.2-.4-.2C728.3 177.9 728.4 178 728.5 178.1z'/%3E%3Cg fill-opacity='0.58' fill='%23FFF'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3.5 1.1 1 2.2 1.5 3.3 2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5C700.6 472.6 700.1 472.7 699.6 472.7zM740.4 421.4c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14C739.4 421.6 739.9 421.4 740.4 421.4zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4C257.6 586.9 259.6 588.8 261.3 590.9z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 0 0 0 0 0 0 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9.1.1.1.1.2.2 1.4 1.4 3.7 1.5 5.2.2C1510 301.2 1510.1 298.8 1508.7 297.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5 0-.7 0-1.5 0-2.3 0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1L327.6 248.6zM332.1 179.2c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3 0 .8 0 1.7 0 2.4-.2 6.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3l0 0C347 188.1 340 183 335 180.3 333.6 179.5 332.6 179.2 332.1 179.2zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C517.3 60.4 516.8 60.8 516.3 60.8zM506.1 70.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C506.4 70.5 506.2 70.5 506.1 70.5zM494.1 64.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C494.7 64.3 494.4 64.4 494.1 64.4zM500.5 55.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C500.9 55.3 500.7 55.3 500.5 55.3zM506.7 55c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C507.4 54.8 507.1 55 506.7 55zM1029.3 382.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C1030.3 382.4 1029.8 382.8 1029.3 382.8zM1019.1 392.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C1019.4 392.5 1019.2 392.5 1019.1 392.5zM1007.1 386.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C1007.7 386.3 1007.4 386.4 1007.1 386.4zM1013.5 377.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C1013.9 377.3 1013.7 377.3 1013.5 377.3zM1019.7 377c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C1020.4 376.8 1020.1 377 1019.7 377zM1329.7 573.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8 0 0 0 0 0 0-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1C1335.2 572.4 1332.6 573.4 1329.7 573.4zM1311 546.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3C1326.7 547.5 1317.7 545.6 1311 546.7z'/%3E%3C/g%3E%3C/svg%3E");
  /* background-attachment: fixed; */
}


.right-container {
  background: var(--white-color);
}

.right-container .input-field {
  background: rgba(var(--bg-black-color), 0.1);
  outline: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.right-container .input-field:focus {
  box-shadow: 0px 0px 10px 4px rgba(var(--bg-green-color), 0.8);
  border-bottom: 2px solid #92d3a8;

}

.right-container .submit-btn {
  border: 2px solid var(--green-color);
  background-color: var(--white-color);
  color: var(--green-color);
}

.radio-container {
  border: 1px solid rgba(var(--bg-green-color), 0.5);
}

.radio-container label {
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
}

.radio-container input[type=radio]:checked+label {
  background: var(--green-color);
  color: var(--white-color);
}

.hide-file-name {
  opacity: 0;
}

[type=file] {
  opacity: 0;
}

[type=file]+label {
  margin-left: 15%;
}

.main-btn {
  border: 2px solid var(--green-color);
  background-color: var(--green-color);
  color: var(--white-color);
  outline: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.main-btn:hover {
  border: 2px solid var(--green-color);
  background-color: var(--white-color);
  color: var(--green-color);
}

.right-container .form-image {
  width: 10rem;
  height: 10rem;
  background-color: var(--green-color);
}

.right-container .form-image {
  visibility: hidden;
}

/* ------------------------------------- House Dashboard --------------------------- */
/* House Drawing */
.house-content {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.house {
  position: relative;
  width: 44rem;
  height: 22rem;
  border-bottom: .5rem solid #175117;
}

.main {
  width: 25rem;
  height: 12.5rem;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: .75rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.roof {
  position: absolute;
  top: -6.25rem;
  width: 100%;
  height: 6.25rem;
}

.roof::before,
.roof::after {
  content: "";
  position: absolute;
  top: 0;
  width: 60%;
  height: 100%;
  background-color: var(--green-color);
}

.roof::before {
  left: 0;
  transform: skewX(330deg);
  -webkit-transform: skewX(330deg);
  -moz-transform: skewX(330deg);
  -ms-transform: skewX(330deg);
  -o-transform: skewX(330deg);
}

.roof::after {
  right: 0;
  transform: skewX(30deg);
  -webkit-transform: skewX(30deg);
  -moz-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  -o-transform: skewX(30deg);
}

.front {
  width: 11.25rem;
  height: 11.25rem;
  background-color: #DDDDDD;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.front:before {
  content: "";
  width: 8rem;
  height: 8rem;
  background-color: #DDDDDD;
  position: absolute;
  top: -4rem;
  left: 50%;
  border-top: 4px solid #222;
  border-left: 4px solid #222;
  transform: translateX(-50%) rotate(45deg);
  -webkit-transform: translateX(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  -o-transform: translateX(-50%) rotate(45deg);
}

.front-upper-window {
  content: "";
  position: absolute;
  top: -1.25rem;
  left: 50%;
  width: 7.5rem;
  height: 3.75rem;
  border-top-left-radius: 6.25rem;
  border-top-right-radius: 6.25rem;
  border: 4px solid #333;
  background-color: #333;
  background-image: linear-gradient(to right, transparent 10%, transparent 90%, #333 90%),
    linear-gradient(to bottom, transparent 10%, #6d6d7d 10%, #6d6d7d 90%);
  background-size: 10px 15px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.door {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 3.75rem;
  height: 5rem;
  border-top-left-radius: 3.75rem;
  border-top-right-radius: 3.75rem;
  background-color: #4d2418;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.front-window-right,
.front-window-left {
  position: absolute;
  width: 2rem;
  height: 2rem;
  bottom: 2rem;
  border: 2px solid #333;
  border-bottom: 4px solid #333;
  background-color: #333;
  background-image: linear-gradient(to right, transparent 10%, transparent 90%, #333 90%),
    linear-gradient(to bottom, transparent 10%, #6d6d7d 10%, #6d6d7d 90%);
  background-size: 10px 10px;
}

.front-window-right {
  right: 1rem;
}

.front-window-left {
  left: 1rem;
}

.line {
  position: absolute;
  top: 38%;
  width: 100%;
  height: .75rem;
  border-top: 4px solid #257582;
  border-bottom: 4px solid #257582;
}

.side-line {
  top: 45%;
}

.window-top-right,
.window-top-left,
.window-bottom-right,
.window-bottom-left {
  position: absolute;
  border: 2px solid #333;
  border-bottom: 5px solid #333;
  background-color: #333;
  background-image: linear-gradient(to right, transparent 10%, transparent 90%, #333 90%),
    linear-gradient(to bottom, transparent 10%, #6d6d7d 10%, #6d6d7d 90%);
  background-size: 10px 15px;
}

.window-top-right,
.window-top-left {
  top: 1.25rem;
  height: 3.125rem;
  width: 3.75rem;
}

.window-bottom-right,
.window-bottom-left {
  top: 7.5rem;
  height: 3.75rem;
  width: 3.75rem;
  border-top-left-radius: 3.75rem;
  border-top-right-radius: 3.75rem;
}

.window-top-right,
.window-bottom-right {
  right: 2rem;
}

.window-top-left,
.window-bottom-left {
  left: 2rem;
}

.garage {
  position: absolute;
  bottom: 0;
  left: -8.75rem;
  width: 8.75rem;
  height: 8.75rem;
  background-color: #DDDDDD;
}

.garage::before {
  content: "";
  position: absolute;
  top: -3.25rem;
  left: 50%;
  width: 6.25rem;
  height: 6.25rem;
  background-color: #DDDDDD;
  border-top: 4px solid #222;
  border-left: 4px solid #222;
  transform: translateX(-50%) rotate(45deg);
  -webkit-transform: translateX(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  -o-transform: translateX(-50%) rotate(45deg);
}

.garage::after {
  content: "";
  position: absolute;
  top: -1.25rem;
  left: 50%;
  width: 4.5rem;
  height: 2.5rem;
  border-top-left-radius: 3.75rem;
  border-top-right-radius: 3.75rem;
  border: 4px solid #333;
  background-color: #333;
  background-image: linear-gradient(to right, transparent 10%, transparent 90%, #333 90%), linear-gradient(to bottom, transparent 10%, #6d6d7d 10%, #6d6d7d 90%);
  background-size: 10px 10px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.garage .line {
  transform: translateY(-23px);
  -webkit-transform: translateY(-23px);
  -moz-transform: translateY(-23px);
  -ms-transform: translateY(-23px);
  -o-transform: translateY(-23px);
}

.windows {
  position: absolute;
  top: 3.75rem;
  left: 2rem;
  width: 5rem;
  height: 4.5rem;
  border: 2px solid #333;
  border-bottom: 5px solid #333;
  background-color: #333;
  background-image: linear-gradient(to right, transparent 10%, transparent 90%, #333 90%),
    linear-gradient(to bottom, transparent 10%, #6d6d7d 10%, #6d6d7d 90%);
  background-size: 10px 15px;
}

.tree {
  position: absolute;
  top: -0.75rem;
  right: -7.5rem;
  width: 7.5rem;
  height: 7.5rem;
  background-color: #94ab38;
  border-top-left-radius: 6.25rem;
  border-bottom-right-radius: 6.25rem;
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
}

.tree::before {
  content: "";
  position: absolute;
  top: 5.5rem;
  left: -1.25rem;
  width: 0.75rem;
  height: 6.25rem;
  background-color: #3c2703;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.tree-2 {
  top: -3.125rem;
  right: -4.5rem;
  background-color: #7b921f;
  transform: rotate(315deg) scale(1.25);
  -webkit-transform: rotate(315deg) scale(1.25);
  -moz-transform: rotate(315deg) scale(1.25);
  -ms-transform: rotate(315deg) scale(1.25);
  -o-transform: rotate(315deg) scale(1.25);
}
.house-content .active:not(.door):not(.garage) {
  box-shadow: 0px 0px 10px 4px rgba(var(--bg-black-color), 0.8);
  background-image: linear-gradient(to right, transparent 10%, transparent 90%, #333 90%),
    linear-gradient(to bottom, transparent 10%, #222 10%, #222 90%);
}

.house-content .garage.active .windows,
.house-content .garage.active::after {
  box-shadow: 0px 0px 10px 4px rgba(var(--bg-black-color), 0.8);
  background-image: linear-gradient(to right, transparent 10%, transparent 90%, #333 90%),
    linear-gradient(to bottom, transparent 10%, #222 10%, #222 90%);
}

.house-content .door.active {
  box-shadow: 0px 0px 10px 4px rgba(var(--bg-black-color), 0.8);
  background-color: #222;
}
/* media */
@media (max-width: 576px) {
  .house-content {
    display: none;
  }
}

@media (max-width: 768px) {}


@media (max-width: 992px) {
  .house-content {
    overflow-x: scroll
  }
}

/* House content section */
.house-icons .btn-outline-main{
    color:var(--green-color);
    padding: 1rem;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius:1rem;
}
.house-icons .btn-outline-main:hover,
.house-icons .btn-outline-main.active{
    color:var(--white-color);
    background-color:var(--green-color);
}
.main-content{
  margin-left: -.5rem;
    background-color:var(--green-color);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-top-right-radius: .5rem;
    border-bottom-right-radius:.5rem;

}

.house-part {
  cursor: pointer;
}
.house-section {
  display: none;
  color: var(--white-color);
}
.house-section.active {
  display: flex;
}
.house-section .content-title,
.house-section .content-title i{
color:var(--white-color);
}

.house-section .table thead tr {
  background-color: var(--dark-gray-color);
  color: var(--white-color);
}
/* checkbox */
.checkbox-container{
      position: relative;
      width: 74px;
      height: 36px;
      overflow: hidden;
}

.checkbox-container, 
.checkbox-layer {
    border-radius: 100px;
}

.checkbox{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}
.checkbox-btn,
.checkbox-layer{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.checkbox-btn{
    z-index: 2;
}

.checkbox-layer{
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

/* checkbox-container  */
.checkbox-btn:before{
    content: 'ON';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: var(--green-color);
    border-radius: 50%;
    /* transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all; */
}

.checkbox:checked + .checkbox-btn:before{
    content: 'OFF';
    left: 42px;
    background-color: #f44336;
}

.checkbox:checked ~ .checkbox-layer{
    background-color: #fcebeb;
}

.checkbox-btn, .checkbox-btn:before, .checkbox-layer{
         transition: all 0.3s ease ;
      -webkit-transition: all 0.3s ease ;
      -moz-transition: all 0.3s ease ;
      -ms-transition: all 0.3s ease ;
      -o-transition: all 0.3s ease ;
}

/* Slider  */
.slider {
  position: relative;
  z-index: 2;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  font-family: Roboto, sans-serif;
}
.slider::before, .slider::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   /* width: 250px;
  height: 250px;  */
   width: 7rem;
  height: 7rem;  
  background: #000;
  border-radius: 50%;
  z-index: 1;
}
.slider::after {
  z-index: 2;
  box-shadow: inset 0 0 5px #000;
  background: linear-gradient(-190deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%);
}

#animation1.rs-animation .rs-transition {
  transition: all 0.1s ease-in-out;
}

.rs-gradient,
.air-gradient,
.sound-gradient,
.light-gradient,
.rs-gradient:after ,
.air-gradient:after ,
.sound-gradient:after ,
.light-gradient:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   /* width: 170px;
  height: 170px;  */
  width: 5rem;
  height: 5rem;  
  background: #006fd6;
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.2), inset 0 3px 5px rgba(0, 0, 0, 0.1), 0 0 3px #000;
  border-radius: 50%;
  z-index: 3;
  opacity: 0.8;
}

.rs-gradient:after ,
.air-gradient:after ,
.sound-gradient:after ,
.light-gradient:after {
  background: linear-gradient(0, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.rs-path-color {
  background: #444;
}

.rs-range-color {
  background: #fff;
  transition: all 0.02s ease-in-out;
  -webkit-transition: all 0.02s ease-in-out;
  -moz-transition: all 0.02s ease-in-out;
  -ms-transition: all 0.02s ease-in-out;
  -o-transition: all 0.02s ease-in-out;
}

.rs-border {
  border: 1px solid #000;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
}

.rs-seperator {
  border: none;
}

.rs-border, .rs-bg-color {
  background: #000;
}

.rs-tooltip-text {
   font-family: Roboto, sans-serif;
   font-size: 2rem;
   border-radius: 7px;
   transition: all 0.02s ease-in-out;
   color: #fff;
   pointer-events: none;
   -webkit-transition: all 0.02s ease-in-out;
   -moz-transition: all 0.02s ease-in-out;
   -ms-transition: all 0.02s ease-in-out;
   -o-transition: all 0.02s ease-in-out;
   transform: translateY(10px);
   -webkit-transform: translateY(10px);
   -moz-transform: translateY(10px);
   -ms-transform: translateY(10px);
   -o-transform: translateY(10px);
}

/* .rs-tooltip-text:before {
  position: absolute;
  left: 3px;
  top: 1rem;
  content: "HEATING";
  font-size: .75rem;
} */

.rs-handle {
  background: none;
  border: none;
  background: none;
  width: 60px;
  height: 60px;
}
.rs-handle::after {
  background: #fff;
  border-radius: 0;
  border: none;
  height: 1px;
  width: 14px;
  margin: 8px 0 0 3px;
}

.rs-handle.rs-move {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
/* ------------------------------------- footer --------------------------- */
footer {
  background-color: var(--green-color);
  width: 100%;
}