
<div id="alert-toast"></div>
<div id="homenotification">
    <input id="homealert" type="checkbox" class="alert-notification d-none" data-id="1" />
    <input id="firealert" type="checkbox" class="alert-notification d-none" data-id="3" />
    <input id="smokealert" type="checkbox" class="alert-notification d-none" data-id="4" />
    <input id="garagealert" type="checkbox" class="alert-notification d-none" data-id="38" />
</div>

