@{
    ViewData["Title"] = "Access Denied";
}

<section>
    <div class="container position-relative px-3 main-container">
        <div class="page-notfound">
            <div class="notfound">
                <div class="notfound-404">
                    <h1>Oops!</h1>
                </div>
                <h2>Access Denied</h2>
                <p>You do not have persmission to view this resource.</p>
                <a class="btn btn-main" asp-controller="Home" asp-action="index">Go To Home Page</a>
            </div>
        </div>
    </div>
</section>