@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<section class="bg-section">
    <div class="d-flex justify-content-center align-items-center container">
   
        <div class="row">
            @if (Model?.IsSuccess == true)
            {
                <div class="col-8 offset-2 ">
                    <div class="alert alert-success alert-dismissible fade show alert-create d-flex align-items-center" role="alert">
                        <i class="far fa-info-circle fs-4 pe-2"></i>
                        <div>
                            <span><strong>Congratulations</strong> You Change The Password successfully, </span>
                            <span>Click Here to</span>
                            <a asp-controller="Home" asp-action="Index" class="alert-link"><strong>Back to Home Page</strong></a>.
                        </div>

                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                    }
                    <div class="col-8 offset-2">

                        <div class="sign-container text-center text-white mb-5 px-3">
                            <h2 class="pt-4 pb-4 fw-bold">Change Password</h2>
                            <form method="post" asp-action="ChangePassword" class="row g-3">


                                <div class="col-12">
                                    <input asp-for="CurrentPassword" type="password" class="input-field w-100 p-2 text-white" placeholder="Current Password" />
                                    <span asp-validation-for="CurrentPassword" class="input-validation"></span>
                                </div>
                                <div class="col-12">
                                    <input asp-for="NewPassword" type="password" class="input-field w-100 p-2 text-white" placeholder="New Password" />
                                    <span asp-validation-for="NewPassword" class="input-validation"></span>
                                </div>
                                <div class="col-12">
                                    <input asp-for="ConfirmPassword" type="password" class="input-field w-100 p-2 text-white" placeholder="Confirm Password" />
                                    <span asp-validation-for="ConfirmPassword" class="input-validation"></span>
                                </div>

                                <div class="col-12 justify-content-center">
                                    <input type="submit" class="submit-btn text-white fs-5 mb-3" value="Continue">
                                </div>

                                <div asp-validation-summary="ModelOnly"></div>

                            </form>


                        </div>
                    </div>

                </div>
            </div>
</section>
