@model ForgotPasswordViewModel
@{
    Layout = "_SignLayout";
    ViewData["Title"] = "Forgot Password";

}

<section class="signin-section pt-5">
 
        <div class="row confirm-alert">
            @if (Model?.IsSend == true)
            {
                <div class="col-6 offset-3">
                    <div class="alert alert-success alert-dismissible fade show alert-create d-flex align-items-center" role="alert">
                        <i class="far fa-info-circle fs-4 pe-2"></i>
                        <div>
                            <span> We Send Email. Please go to your Email To Change your Password. </span>
                        </div>

                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            }
            <div class="col-6 offset-3">

                <div class="sign-container text-center text-white mb-5 px-3">
                    <h2 class="pt-4 pb-4 fw-bold">Forgot Password</h2>
                    <form method="post" asp-action="ForgotPassword" class="row g-3">

                        <div class="col-12">
                            <input asp-for="Email" type="text" class="input-field w-100 p-2 text-white" placeholder="Email" />
                            <span asp-validation-for="Email" class="input-validation"></span>
                        </div>

                        <div class="col-12 justify-content-center">
                            <input type="submit" class="submit-btn text-white fs-5 mb-3" value="Continue">
                        </div>

                        <div asp-validation-summary="ModelOnly"></div>

                    </form>


                </div>
            </div>

        </div>
  
</section>