@{
    ViewData["Title"] = "Dash Board";
}
<section>
    <div class="container position-relative px-3 main-container">
       <div class="row gy-3 mb-3">
                <div class="col-lg-8">
                    <div class="security-container rounded-3 mb-2 p-4 bg-white">
                        <h6 class="box-title fw-bold">Home System</h6>
                        <div class="table-responsive-md">
                            <table id="tblUsers" class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Status</th>
                                        <th>User Id</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
              
            </div>
    
    </div>
</section>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/dashboard.js"></script>
