@{
    ViewData["Title"] = "Error";
}

<section>
    <div class="container position-relative px-3 main-container">
        <div class="page-notfound">
            <div class="notfound ">
                <div class="notfound-404 ">
                    <h1>Oops!</h1>
                </div>
                <h2 class="mt-5">HTTP Error @ViewBag.ErrorStatusCode</h2>
                <p>An error occurred while processing your request.</p>
                <a class="btn btn-main" asp-controller="Home" asp-action="index">Go To Home Page</a>
            </div>
        </div>
    </div>
</section>