@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@section CssStyle {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/roundSlider/1.3.2/roundslider.min.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = "Home Rooms";
}

<section>
    <div class="container position-relative pb-5 main-container">
        <div class="house-content">
            <div class="house">
                <div class="main">
                    <div class="house-part window-top-left"
                         data-target="RoomOne"
                         data-icon="fa-bed"
                         data-bs-toggle="tooltip"
                         data-bs-placement="top"
                         title="Bedroom NO. 1"></div>

                    <div class="house-part window-top-right"
                         data-target="RoomTwo"
                         data-icon="fa-bed"
                         data-bs-toggle="tooltip"
                         data-bs-placement="top"
                         title="Bedroom NO. 2"></div>

                    <div class="house-part window-bottom-left"
                         data-target="Office"
                         data-icon="fa-briefcase"
                         data-bs-toggle="tooltip"
                         data-bs-placement="top"
                         title="Office"></div>

                    <div class="house-part window-bottom-right"
                         data-target="Dining"
                         data-icon="fa-utensils"
                         data-bs-toggle="tooltip"
                         data-bs-placement="top"
                         title="Dining"></div>

                    <div class="line side-line"></div>
                    <div class="roof"></div>

                    <div class="front">
                        <div class="house-part front-upper-window"
                             data-target="Storage"
                             data-icon="fa-box-open"
                             data-bs-toggle="tooltip"
                             data-bs-placement="top"
                             title="Storage room"></div>

                        <div class="line"></div>

                        <div class="house-part front-window-right"
                             data-target="RoomThree"
                             data-icon="fa-bed"
                             data-bs-toggle="tooltip"
                             data-bs-placement="top"
                             title="Bedroom NO. 3"></div>

                        <div class="door house-part active"
                             data-target="main-systems"
                             data-bs-toggle="tooltip"
                             data-bs-placement="top"
                             title="Main Systems"></div>

                        <div class="house-part front-window-left"
                             data-target="Living"
                             data-icon="fa-couch"
                             data-bs-toggle="tooltip"
                             data-bs-placement="top"
                             title="Living"></div>
                    </div>
                    <div class="house-part garage"
                         data-target="Garage"
                         data-icon="fa-warehouse"
                         data-bs-toggle="tooltip"
                         data-bs-placement="top"
                         title="Garage">
                        <div class="line"></div>
                        <div class="windows" data-target="Garage"></div>
                    </div>
                    <div class="house-part garden" data-target="Garden">
                        <div class="tree"
                             data-bs-toggle="tooltip"
                             data-bs-placement="top"
                             title="Garden"></div>
                        <div class="tree tree-2"
                             data-bs-toggle="tooltip"
                             data-bs-placement="top"
                             title="Garden"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row rounded-3 mt-5 p-4 bg-white">
            <div class="col-3">
                <div class="row gy-3 pt-3 house-menu">
                    @if (User.IsInRole("Main Systems"))
                    {
                        <a class="house-icons-btn btn btn-outline-main d-flex flex-column flex-lg-row align-items-center justify-content-center justify-content-md-between active"
                           data-target="main-systems">
                            <i class="fas fa-home fs-4 pe-2"></i>
                            <span class="d-none d-md-flex pe-5">Main Systems</span>
                        </a>
                    }
                    <div class="btn-group btn btn-outline-main ">
                        <button id="dropdown-toggle" type="button" class="btn  d-flex flex-column flex-lg-row align-items-center justify-content-center justify-content-md-between dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-bars fs-4 pe-2"></i>
                            <span class="d-none d-md-flex rooms">Select Room</span>
                        </button>
                        <ul class="dropdown-menu">
                            @if (User.IsInRole("Bedroom One"))
                            {
                                <li>
                                    <a class="house-icons-btn btn  d-flex flex-column flex-lg-row align-items-center justify-content-center justify-content-md-between"
                                       data-target="RoomOne">
                                        <i class="fas fa-bed fs-4 pe-2 house-icon"></i>
                                        <span class="d-none d-md-flex">Bedroom 1</span>
                                    </a>
                                </li>
                            }
                            @if (User.IsInRole("Bedroom Two"))
                            {
                                <li>
                                    <a class="house-icons-btn btn d-flex flex-column flex-lg-row align-items-center justify-content-center justify-content-md-between"
                                       data-target="RoomTwo">
                                        <i class="fas fa-bed fs-4 pe-2 house-icon"></i>
                                        <span class="d-none d-md-flex">Bedroom 2</span>
                                    </a>
                                </li>
                            }
                            @if (User.IsInRole("Bedroom Three"))
                            {
                                <li>

                                    <a class="house-icons-btn btn d-flex flex-column flex-lg-row align-items-center justify-content-center justify-content-md-between"
                                       data-target="RoomThree">
                                        <i class="fas fa-couch fs-4 pe-2 house-icon"></i>
                                        <span class="d-none d-md-flex">Bedroom 3</span>
                                    </a>
                                </li>
                            }
                            @if (User.IsInRole("Living Room"))
                            {
                                <li>
                                    <a class="house-icons-btn btn d-flex flex-column flex-lg-row align-items-center justify-content-center justify-content-md-between"
                                       data-target="Living">
                                        <i class="fas fa-couch fs-4 pe-2 house-icon"></i>
                                        <span class="d-none d-md-flex">Leaving Room</span>
                                    </a>
                                </li>
                            }
                            @if (User.IsInRole("Dining Room"))
                            {
                                <li>
                                    <a class="house-icons-btn btn d-flex flex-column flex-lg-row align-items-center justify-content-center justify-content-md-between"
                                       data-target="Dining">
                                        <i class="fas fa-utensils fs-4 pe-2 house-icon"></i>
                                        <span class="d-none d-md-flex">Dining Room</span>
                                    </a>
                                </li>
                            }
                            @if (User.IsInRole("Storage Room"))
                            {
                                <li>
                                    <a class="house-icons-btn btn d-flex flex-column flex-lg-row align-items-center justify-content-center justify-content-md-between"
                                       data-target="Storage">
                                        <i class="fas fa-box-open fs-4 pe-2 house-icon"></i>
                                        <span class="d-none d-md-flex">Storage Room</span>
                                    </a>
                                </li>
                            }
                            @if (User.IsInRole("Office Room"))
                            {
                                <li>
                                    <a class="house-icons-btn btn  d-flex flex-column flex-lg-row align-items-center justify-content-center justify-content-md-between"
                                       data-target="Office">
                                        <i class="fas fa-briefcase fs-4 pe-2 house-icon"></i>
                                        <span class="d-none d-md-flex">Office Room</span>
                                    </a>
                                </li>
                            }
                            @if (User.IsInRole("Garage"))
                            {
                                <li>
                                    <a class="house-icons-btn btn  d-flex flex-column flex-lg-row align-items-center justify-content-center justify-content-md-between"
                                       data-target="Garage">
                                        <i class="fas fa-warehouse fs-4 pe-2 house-icon"></i>
                                        <span class="d-none d-md-flex">Garage</span>
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                    @if (User.IsInRole("Garden"))
                    {
                        <a class="house-icons-btn btn btn-outline-main d-flex flex-column flex-lg-row align-items-center justify-content-center justify-content-md-between"
                           data-target="Garden">
                            <i class="fab fa-pagelines fs-4 pe-2"></i>
                            <span class="d-none d-md-flex pe-5">Garden</span>
                        </a>
                    }
                    </div>
            </div>
            <div class="col-9 main-content">
                <!--Main System-->
                @if (User.IsInRole("Main Systems"))
                {
                    <div id="main-systems" class="house-section flex-column active">
                        <div class="d-flex justify-content-between align-items-center content-title">
                            <h6 class="content-title fw-bold my-3">Main Systems</h6>
                        </div>

                        <div class="row">
                            <div class="col-12 col-lg-8 table-responsive-md">
                                <table id="tblHomeSystems" class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>System</th>
                                            <th>Status</th>
                                            <th>History</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="row gy-4">

                                    <div class="col-12 col-md-6 col-lg-12">
                                        <div class="p-3 alert-secondary rounded-3 d-flex justify-content-between justify-content-xl-center">
                                            <div class="d-flex flex-column">
                                                <i class="fas fa-door-closed fs-5 text-center mt-1 mb-2"></i>
                                                <span class="fw-bold">Home Door</span>
                                            </div>

                                            <div id="homeDoor" class="form-check form-switch d-flex flex-column justify-content-between justify-content-xl-center align-items-end">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-12 mb-3">
                                        <div class="p-3 alert-secondary rounded-3 d-flex justify-content-between justify-content-xl-center">
                                            <div class="d-flex flex-column">
                                                <i class="fas fa-lightbulb fs-5 text-center mt-1 mb-2"></i>
                                                <span class="fw-bold">Outdoor Light</span>
                                            </div>

                                            <div id="outdoorLight" class="form-check form-switch d-flex flex-column justify-content-between justify-content-xl-center align-items-end">

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div id="main-systems" class="house-section flex-column active">
                        <div class="notallow">
                            <div class="notfound">
                                <div class="notfound-room">
                                    <h1>Oops!</h1>
                                </div>
                                <p>You Don't Have Persmission to Access This Room.</p>

                            </div>
                        </div>
                    </div>
                }
                <!--Bedroom One-->
                @if (User.IsInRole("Bedroom One"))
                {
                    <div id="RoomOne" class="house-section flex-column py-3">
                        <h6 class="content-title fw-bold my-3">Bedroom 1</h6>
                        <div class="row g-2 g-md-4">


                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around">
                                        <div class="d-flex flex-column">
                                            <i class="fas fa-tv fs-5 text-center mt-1 mb-2"></i>
                                            <span class="fw-bold">TV</span>
                                        </div>
                                        <div>
                                            <div class="tv-checkbox checkbox-container ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around">
                                        <div class="d-flex flex-column">
                                            <i class="fas fa-door-closed fs-5 text-center mt-1 mb-2"></i>
                                            <span class="fw-bold">Door</span>
                                        </div>
                                        <div>
                                            <div class="door-checkbox checkbox-container"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around mb-4">
                                        <div class="d-flex flex-row text-center mb-2">
                                            <i class="fas fa-fan fs-5 pe-2"></i>
                                            <span class="fw-bold">AC</span>
                                        </div>
                                        <div>
                                            <div class="ac-checkbox checkbox-container "> </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mb-3">
                                        <div id="air-slider" class="slider"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around mb-4">
                                        <div class="d-flex flex-row text-center mb-2">
                                            <i class="fas fa-lightbulb fs-5 pe-2"></i>
                                            <span class="fw-bold">Light</span>
                                        </div>
                                        <div>
                                            <div class="light-checkbox checkbox-container"> </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mb-3">
                                        <div id="light-slider" class="slider"></div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around mb-4">
                                        <div class="d-flex flex-row text-center mb-2">
                                            <i class="fas fa-music fs-5 pe-2"></i>
                                            <span class="fw-bold">Sound</span>
                                        </div>
                                        <div>
                                            <div class="sound-checkbox checkbox-container"> </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mb-3">
                                        <div id="sound-slider" class="slider rs-ie rs-control rs-animation" style="height: 80px; width: 80px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div id="RoomOne" class="house-section flex-column">
                        <div class="notallow">
                            <div class="notfound">
                                <div class="notfound-room">
                                    <h1>Oops!</h1>
                                </div>
                                <p>You Don't Have Persmission to Access This Room.</p>
                                       
                            </div>
                        </div>
                    </div>
                }
                <!--Bedroom Two-->
                @if (User.IsInRole("Bedroom Two"))
                {
                    <div id="RoomTwo" class="house-section flex-column py-3">
                        <h6 class="content-title fw-bold my-3">Bedroom 2</h6>
                        <div class="row g-2 g-md-4">


                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around">
                                        <div class="d-flex flex-column">
                                            <i class="fas fa-tv fs-5 text-center mt-1 mb-2"></i>
                                            <span class="fw-bold">TV</span>
                                        </div>
                                        <div>
                                            <div class="tv-checkbox checkbox-container">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around">
                                        <div class="d-flex flex-column">
                                            <i class="fas fa-door-closed fs-5 text-center mt-1 mb-2"></i>
                                            <span class="fw-bold">Door</span>
                                        </div>
                                        <div>
                                            <div class="door-checkbox checkbox-container"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around mb-4">
                                        <div class="d-flex flex-row text-center mb-2">
                                            <i class="fas fa-fan fs-5 pe-2"></i>
                                            <span class="fw-bold">AC</span>
                                        </div>
                                        <div>
                                            <div class="ac-checkbox checkbox-container"> </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mb-3">
                                        <div id="air-slider" class="slider"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around mb-4">
                                        <div class="d-flex flex-row text-center mb-2">
                                            <i class="fas fa-lightbulb fs-5 pe-2"></i>
                                            <span class="fw-bold">Light</span>
                                        </div>
                                        <div>
                                            <div class="light-checkbox checkbox-container"> </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mb-3">
                                        <div id="light-slider" class="slider"></div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around mb-4">
                                        <div class="d-flex flex-row text-center mb-2">
                                            <i class="fas fa-music fs-5 pe-2"></i>
                                            <span class="fw-bold">Sound</span>
                                        </div>
                                        <div>
                                            <div class="sound-checkbox checkbox-container"> </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mb-3">
                                        <div id="sound-slider" class="slider rs-ie rs-control rs-animation" style="height: 80px; width: 80px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div id="RoomTwo" class="house-section flex-column ">
                        <div class="notallow">
                            <div class="notfound">
                                <div class="notfound-room">
                                    <h1>Oops!</h1>
                                </div>
                                <p>You Don't Have Persmission to Access This Room.</p>

                            </div>
                        </div>
                    </div>
                }
                <!--Bedroom Three-->
                @if (User.IsInRole("Bedroom Three"))
                {
                    <div id="RoomThree" class="house-section flex-column py-3">
                        <h6 class="content-title fw-bold my-3">Bedroom 3</h6>
                        <div class="row g-2 g-md-4">


                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around">
                                        <div class="d-flex flex-column">
                                            <i class="fas fa-tv fs-5 text-center mt-1 mb-2"></i>
                                            <span class="fw-bold">TV</span>
                                        </div>
                                        <div>
                                            <div class="tv-checkbox checkbox-container">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around">
                                        <div class="d-flex flex-column">
                                            <i class="fas fa-door-closed fs-5 text-center mt-1 mb-2"></i>
                                            <span class="fw-bold">Door</span>
                                        </div>
                                        <div>
                                            <div class="door-checkbox checkbox-container"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around mb-4">
                                        <div class="d-flex flex-row text-center mb-2">
                                            <i class="fas fa-fan fs-5 pe-2"></i>
                                            <span class="fw-bold">AC</span>
                                        </div>
                                        <div>
                                            <div class="ac-checkbox checkbox-container"> </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mb-3">
                                        <div id="air-slider" class="slider"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around mb-4">
                                        <div class="d-flex flex-row text-center mb-2">
                                            <i class="fas fa-lightbulb fs-5 pe-2"></i>
                                            <span class="fw-bold">Light</span>
                                        </div>
                                        <div>
                                            <div class="light-checkbox checkbox-container"> </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mb-3">
                                        <div id="light-slider" class="slider"></div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around mb-4">
                                        <div class="d-flex flex-row text-center mb-2">
                                            <i class="fas fa-music fs-5 pe-2"></i>
                                            <span class="fw-bold">Sound</span>
                                        </div>
                                        <div>
                                            <div class="sound-checkbox checkbox-container"> </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mb-3">
                                        <div id="sound-slider" class="slider rs-ie rs-control rs-animation" style="height: 80px; width: 80px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div id="RoomThree" class="house-section flex-column ">
                        <div class="notallow">
                            <div class="notfound">
                                <div class="notfound-room">
                                    <h1>Oops!</h1>
                                </div>
                                <p>You Don't Have Persmission to Access This Room.</p>

                            </div>
                        </div>
                    </div>
                }
                <!--Leaving Room-->
                @if (User.IsInRole("Living Room"))
                {
                    <div id="Living" class="house-section flex-column py-3">
                        <h6 class="content-title fw-bold my-3">Leaving Room</h6>
                        <div class="row g-2 g-md-4">


                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around">
                                        <div class="d-flex flex-column">
                                            <i class="fas fa-tv fs-5 text-center mt-1 mb-2"></i>
                                            <span class="fw-bold">TV</span>
                                        </div>
                                        <div>
                                            <div class="tv-checkbox checkbox-container">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around">
                                        <div class="d-flex flex-column">
                                            <i class="fas fa-door-closed fs-5 text-center mt-1 mb-2"></i>
                                            <span class="fw-bold">Door</span>
                                        </div>
                                        <div>
                                            <div class="door-checkbox checkbox-container"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around mb-4">
                                        <div class="d-flex flex-row text-center mb-2">
                                            <i class="fas fa-fan fs-5 pe-2"></i>
                                            <span class="fw-bold">AC</span>
                                        </div>
                                        <div>
                                            <div class="ac-checkbox checkbox-container"> </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mb-3">
                                        <div id="air-slider" class="slider"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around mb-4">
                                        <div class="d-flex flex-row text-center mb-2">
                                            <i class="fas fa-lightbulb fs-5 pe-2"></i>
                                            <span class="fw-bold">Light</span>
                                        </div>
                                        <div>
                                            <div class="light-checkbox checkbox-container"> </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mb-3">
                                        <div id="light-slider" class="slider"></div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around mb-4">
                                        <div class="d-flex flex-row text-center mb-2">
                                            <i class="fas fa-music fs-5 pe-2"></i>
                                            <span class="fw-bold">Sound</span>
                                        </div>
                                        <div>
                                            <div class="sound-checkbox checkbox-container"> </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mb-3">
                                        <div id="sound-slider" class="slider rs-ie rs-control rs-animation" style="height: 80px; width: 80px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div id="Living" class="house-section flex-column">
                        <div class="notallow">
                            <div class="notfound">
                                <div class="notfound-room">
                                    <h1>Oops!</h1>
                                </div>
                                <p>You Don't Have Persmission to Access This Room.</p>

                            </div>
                        </div>
                    </div>
                }
                <!--Dining Room-->
                @if (User.IsInRole("Dining Room"))
                {
                    <div id="Dining" class="house-section flex-column py-3">
                        <h6 class="content-title fw-bold my-3">Dining Room</h6>
                        <div class="row g-2 g-md-4">

                            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around mb-4">
                                        <div class="d-flex flex-row text-center mb-2">
                                            <i class="fas fa-fan fs-5 pe-2"></i>
                                            <span class="fw-bold">AC</span>
                                        </div>
                                        <div>
                                            <div class="ac-checkbox checkbox-container"> </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mb-3">
                                        <div id="air-slider" class="slider"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around mb-4">
                                        <div class="d-flex flex-row text-center mb-2">
                                            <i class="fas fa-lightbulb fs-5 pe-2"></i>
                                            <span class="fw-bold">Light</span>
                                        </div>
                                        <div>
                                            <div class="light-checkbox checkbox-container"> </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mb-3">
                                        <div id="light-slider" class="slider"></div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around mb-4">
                                        <div class="d-flex flex-row text-center mb-2">
                                            <i class="fas fa-music fs-5 pe-2"></i>
                                            <span class="fw-bold">Sound</span>
                                        </div>
                                        <div>
                                            <div class="sound-checkbox checkbox-container"> </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mb-3">
                                        <div id="sound-slider" class="slider rs-ie rs-control rs-animation" style="height: 80px; width: 80px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div id="Dining" class="house-section flex-column ">
                        <div class="notallow">
                            <div class="notfound">
                                <div class="notfound-room">
                                    <h1>Oops!</h1>
                                </div>
                                <p>You Don't Have Persmission to Access This Room.</p>

                            </div>
                        </div>
                    </div>
                }
                <!--Storage Room-->
                @if (User.IsInRole("Storage Room"))
                {
                    <div id="Storage" class="house-section flex-column py-3">
                        <h6 class="content-title fw-bold my-3">Storage Room</h6>
                        <div class="row g-2 g-md-4">

                            <div class="col-12 col-md-6 ">
                                <div class="p-3 alert-secondary rounded-3 d-flex justify-content-between justify-content-xl-center">
                                    <div class="d-flex flex-column">
                                        <i class="fas fa-door-closed fs-5 text-center mt-1 mb-2"></i>
                                        <span class="fw-bold">Storage Door</span>
                                    </div>

                                    <div id="storageDoor" class="form-check form-switch d-flex flex-column justify-content-between justify-content-xl-center align-items-end">

                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6  mb-3">
                                <div class="p-3 alert-secondary rounded-3 d-flex justify-content-between justify-content-xl-center">
                                    <div class="d-flex flex-column">
                                        <i class="fas fa-lightbulb fs-5 text-center mt-1 mb-2"></i>
                                        <span class="fw-bold">Storage Light</span>
                                    </div>

                                    <div id="storageLight" class="form-check form-switch d-flex flex-column justify-content-between justify-content-xl-center align-items-end">

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                }
                else
                {
                    <div id="Storage" class="house-section flex-column ">
                        <div class="notallow">
                            <div class="notfound">
                                <div class="notfound-room">
                                    <h1>Oops!</h1>
                                </div>
                                <p>You Don't Have Persmission to Access This Room.</p>

                            </div>
                        </div>
                    </div>
                }
                <!--Office Room-->
                @if (User.IsInRole("Office Room"))
                {
                    <div id="Office" class="house-section flex-column py-3">
                        <h6 class="content-title fw-bold my-3">Office Room</h6>
                        <div class="row g-2 g-md-4">


                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around">
                                        <div class="d-flex flex-column">
                                            <i class="fas fa-tv fs-5 text-center mt-1 mb-2"></i>
                                            <span class="fw-bold">TV</span>
                                        </div>
                                        <div>
                                            <div class="tv-checkbox checkbox-container">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around">
                                        <div class="d-flex flex-column">
                                            <i class="fas fa-door-closed fs-5 text-center mt-1 mb-2"></i>
                                            <span class="fw-bold">Door</span>
                                        </div>
                                        <div>
                                            <div class="door-checkbox checkbox-container"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around mb-4">
                                        <div class="d-flex flex-row text-center mb-2">
                                            <i class="fas fa-fan fs-5 pe-2"></i>
                                            <span class="fw-bold">AC</span>
                                        </div>
                                        <div>
                                            <div class="ac-checkbox checkbox-container"> </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mb-3">
                                        <div id="air-slider" class="slider"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around mb-4">
                                        <div class="d-flex flex-row text-center mb-2">
                                            <i class="fas fa-lightbulb fs-5 pe-2"></i>
                                            <span class="fw-bold">Light</span>
                                        </div>
                                        <div>
                                            <div class="light-checkbox checkbox-container"> </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mb-3">
                                        <div id="light-slider" class="slider"></div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                <div class="p-3 alert-secondary rounded-3 d-flex flex-column">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-around mb-4">
                                        <div class="d-flex flex-row text-center mb-2">
                                            <i class="fas fa-music fs-5 pe-2"></i>
                                            <span class="fw-bold">Sound</span>
                                        </div>
                                        <div>
                                            <div class="sound-checkbox checkbox-container"> </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mb-3">
                                        <div id="sound-slider" class="slider rs-ie rs-control rs-animation" style="height: 80px; width: 80px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div id="Office" class="house-section flex-column">
                        <div class="notallow">
                            <div class="notfound">
                                <div class="notfound-room">
                                    <h1>Oops!</h1>
                                </div>
                                <p>You Don't Have Persmission to Access This Room.</p>

                            </div>
                        </div>
                    </div>
                }
                <!--Garage-->
                @if (User.IsInRole("Garage"))
                {
                    <div id="Garage" class="house-section flex-column">
                        <h6 class="content-title fw-bold my-3">Garage</h6>
                        <div class="row">
                            <div class="col-12 col-lg-8 table-responsive-md">
                                <table id="tblGarageSystems" class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>System</th>
                                            <th>Status</th>
                                            <th>History</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="row gy-4">

                                    <div class="col-12 col-md-6 col-lg-12">
                                        <div class="p-3 alert-secondary rounded-3 d-flex justify-content-between justify-content-xl-center">
                                            <div class="d-flex flex-column">
                                                <i class="fas fa-door-closed fs-5 text-center mt-1 mb-2"></i>
                                                <span class="fw-bold">Garage Door</span>
                                            </div>

                                            <div id="garageDoor" class="form-check form-switch d-flex flex-column justify-content-between justify-content-xl-center align-items-end">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-12 mb-3">
                                        <div class="p-3 alert-secondary rounded-3 d-flex justify-content-between justify-content-xl-center">
                                            <div class="d-flex flex-column">
                                                <i class="fas fa-lightbulb fs-5 text-center mt-1 mb-2"></i>
                                                <span class="fw-bold">Garage Light</span>
                                            </div>

                                            <div id="garageLight" class="form-check form-switch d-flex flex-column justify-content-between justify-content-xl-center align-items-end">

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div id="Garage" class="house-section flex-column ">
                        <div class="notallow">
                            <div class="notfound">
                                <div class="notfound-room">
                                    <h1>Oops!</h1>
                                </div>
                                <p>You Don't Have Persmission to Access This Room.</p>

                            </div>
                        </div>
                    </div>
                }
                <!--Garden-->
                @if (User.IsInRole("Garden"))
                {
                    <div id="Garden" class="house-section flex-column">
                        <div class="d-flex justify-content-between align-items-center content-title">
                            <h6 class="fw-bold my-3">Garden</h6>
                        </div>

                        <div class="row ">
                            <div class="garden-content mt-4">
                                <div id="WaterTank" class="d-flex fw-bold">
                                </div>

                                <div id="WaterTankProgress" class="progress mt-2">
                                </div>
                            </div>
                            <div class="garden-content mt-4">
                                <div id="garden" class="d-flex fw-bold">
                                </div>

                                <div id="gardenProgress" class="progress mt-2">
                                </div>
                            </div>
                        </div>

                    </div>
                }
                else
                {
                    <div id="Garden" class="house-section flex-column">
                        <div class="notallow">
                            <div class="notfound">
                                <div class="notfound-room">
                                    <h1>Oops!</h1>
                                </div>
                                <p>You Don't Have Persmission to Access This Room.</p>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/roundSlider/1.3.2/roundslider.min.js"></script>
    <script src="~/js/Home.js"></script>
    <script src="~/js/HomeSignalR.js"></script>
}
@section JsonJs {

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

          $(document).on('change', '.input-slider', function () {
                $.ajax({
                    url: '@Url.Action("SendInputData", "Home")',
                    type: "Post",
                    data: {
                        dataValue: $(this).val(),
                        dataId: $(this).attr("data-id"),
                    },
                    success: function (data) {

                    },
                    error: function (e) {
                        alert('it broked');
                    },
                });

            });
            $(document).on('change', '.slider-checkbox', function () {
                $.ajax({
                    url: '@Url.Action("SendInputData", "Home")',
                    type: "Post",
                    data: {
                        dataValue: $(this).prev(".input-checkbox").attr("data-value"),
                        dataId: $(this).prev(".input-checkbox").attr("data-id"),
                    },
                    success: function (data) {

                    },
                    error: function (e) {
                        alert('it broked');
                    },
                });
            });
            $(document).on('change', '.send-checkbox', function () {
                $.ajax({
                    url: '@Url.Action("SendCheckboxData", "Home")',
                    type: "Post",
                    data: {
                        checkValue: $(this).is(':checked'),
                        dataId: $(this).attr("data-id"),
                    },
                    success: function (data) {

                    },
                    error: function (e) {
                        alert('it broked');
                    },
                });

            });
            @*$(document).on('change', '.form-check-input', function () {
                $.ajax({
                    url: '@Url.Action("SendCheckboxData", "Home")',
                    type: "Post",
                    data: {
                        checkValue: $(this).is(':checked'),
                        dataId: $(this).attr("data-id"),
                    },
                    success: function (data) {

                    },
                    error: function (e) {
                        alert('it broked');
                    },
                });

            });*@



        });
    </script>
}