@{
    ViewData["Title"] = "Members";
}

<section>
    <div class="container position-relative px-3 main-container">
        <div class="row mb-3">
            <div class="col-12">
                <div class="member-container rounded-3 mb-2 p-4 bg-white">
                    <h6 class="box-title fw-bold">Members</h6>
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Member Name</th>
                                    <th>Status</th>
                                    <th>Current Status Date</th>
                                    <th>Current Status Time</th>
                                    <th>Last Login Date</th>
                                    <th>Last Login Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="alert-secondary">
                                    <td class="p-2">
                                        <img src="~/img/profile/1.png"
                                             class="member-img rounded-circle"
                                             alt="" />
                                    </td>
                                    <td>
                                        <span>Mona Ahmed</span>
                                    </td>
                                    <td class="status">
                                        <span class="badge bg-success fs-6">Log In</span>
                                    </td>
                                    <td>
                                        <span>Nov 17,2021</span>
                                    </td>
                                    <td>
                                        <span>10:10 PM</span>
                                    </td>
                                    <td>
                                        <span>Nov 17,2021</span>
                                    </td>
                                    <td>
                                        <span>10:10 PM</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>