@model SignUpViewModel
@{
    ViewData["Title"] = "Edit User";
}

<section class="bg-section">
    <div class="d-flex justify-content-center align-items-center container">

        <div class="row">
            @if (ViewBag.EditUserRoleSuccess == true)
            {
                <div class="col-10 offset-1  col-lg-9 offset-lg-1 col-xl-8 offset-xl-2 ">
                    <div class="toast position-fixed bottom-0 end-0 m-3" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header bg-black">
                            <strong class="me-auto text-success">Manage User Roles</strong>
                            <small>Just Now</small>
                            <button type="button" class="btn" data-bs-dismiss="toast" aria-label="Close"><i class="fas fa-times"></i></button>
                        </div>
                        <div class="toast-body bg-light text-black">
                            <strong>Congratulations</strong> You Update the User in Role Successfully.
                        </div>
                    </div>
                </div>
             }
                <div class="col-10 offset-1  col-lg-9 offset-lg-1 col-xl-8 offset-xl-2 ">

                    <div class="signup-container text-center text-white mb-5 px-3">
                        <h2 class="pt-4 pb-4 fw-bold">Add User</h2>
                        <form method="post" enctype="multipart/form-data" asp-action="Edit" class="row g-3">
                            <input asp-for="HomeUserId" type="hidden" />
                            <input asp-for="ExistPhoto" type="hidden" />
                            <input asp-for="Email" type="hidden" />
                            <div class="col-12">
                                <img class="img-details rounded-circle" id="form-image" src="~/@Model.ExistPhoto" />
                            </div>
                            <div class="col-12 col-md-6">
                                <input asp-for="CoverPhoto" id="image-url" class="w-75">
                                <label for="image-url" class="btn btn-main">Choose a Cover Image</label>
                                <span asp-validation-for="CoverPhoto" class="input-validation"></span>
                            </div>
                            <div class="col-12 col-md-6 mb-4">
                                <select asp-for="UserType" id="userType" class="form-select w-100 p-2 text-white">
                                    <option disabled>Select User Type</option>
                                    <option value="1">Home User</option>
                                    <option selected value="2">Appliction/Home User</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-6 all-user d-none">
                                <input asp-for="FirstName" class="input-field w-100 p-2 text-white" placeholder="First Name" />
                                <span asp-validation-for="FirstName" class="input-validation"></span>
                            </div>
                            <div class="col-12 col-md-6 all-user d-none">
                                <input asp-for="LastName" class="input-field w-100 p-2 text-white" placeholder="Last Name" />
                                <span asp-validation-for="LastName" class="input-validation"></span>
                            </div>
                            <div class="col-12 all-user d-none">
                                <input asp-for="Email" type="text" class="input-field w-100 p-2 text-white" placeholder="Email" disabled />
                                <span asp-validation-for="Email" class="input-validation"></span>
                            </div>
                            <div class="col-12 col-md-6 all-user d-none">
                                <input asp-for="Address" type="text" class="input-field w-100 p-2 text-white" placeholder="Address" />
                                <span asp-validation-for="Address" class="input-validation"></span>
                            </div>
                            <div class="col-12 col-md-6 all-user d-none">
                                <input asp-for="PhoneNumber" type="text" class="input-field w-100 p-2 text-white" placeholder="Phone Number" />
                                <span asp-validation-for="PhoneNumber" class="input-validation"></span>
                            </div>

                            <div class="col-12 form-group position-relative mt-4 ">
                                <div class="card role-card text-white mb-3">
                                    <h5 class="card-header main-color fw-bold">User Roles</h5>
                                    <div class="row card-body">
                                        @if (Model.Roles.Any())
                                        {
                                            @foreach (var role in Model.Roles)
                                            {
                                                <p class="col-12 col-md-6  col-lg-4 card-text">@role</p>
                                            }
                                        }
                                        else
                                        {
                                            <p class="card-text">There are no roles for this user created yet</p>
                                        }
                                    </div>
                                    <div class="card-footer text-muted ">
                                        <a  asp-controller="AppUser" asp-action="ManageUserRole" asp-route-id="@Model.HomeUserId" class="btn btn-main mt-1">Mange Roles</a>
                                    </div>
                                </div>
                            </div>

                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="col-12 justify-content-center all-user d-none">
                                <input type="submit" class="submit-btn text-white fs-5 mb-3" value="Update">
                            </div>

                        </form>


                    </div>
                </div>

            </div>
            </div>
</section>
@section Scripts {
    <script src="~/js/SignUp.js"></script>
}